.work-entries > div > h2 {
  color: red;
  font-family: sans-serif;
  border:2px solid black;
  text-shadow: 2px 2px 5px blue;
}

.work-entries {
  text-align: left;
}

.work-entries > div > p {
  font-family: sans-serif;
  color: #333333;
}

.work-entries > div > ul > li {
  font-family: sans-serif;
  list-style-type:square;
}

#table_1 > th, td {
  border: 1px solid black;
  text-align: center;
}

#top_level_header {
  background-color: black;
  color: white;
  text-align: center;
}

.wrapper {
  margin-right: 20%;
  margin-left: 20%;
}

#question_2 {
  text-align: center;
}

#cpt_pic {
  width:600px;
  height:400px;
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

.content {
  margin: auto;
  width: 80%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 0px 150px 0px 150px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: red;
  border-radius: 10px;
}

.header a.active {
  color: red;
}

.header-right {
  float: right;
}
